<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8"/>
		<title>需求列表</title>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/plugins/layui/css/layui.css}" />
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/global.css}" />
		<link rel="stylesheet" type="text/css" media="all" th:href="@{http://www.jq22.com/jquery/font-awesome.4.6.0.css}" />
		<script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
		<script type="text/javascript" th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
	</head>

	<body>
		<div>
			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
				<legend>需求列表</legend>
			</fieldset>

			<blockquote class="layui-elem-quote">
				<form id="searchForm" name="searchForm" class="layui-form" action="/demand/demandList.html">
					<input type="hidden" id="pageNo" name="pageNo" th:value="${pageInfo.pageNum}"/>
					<div class="layui-form-item">
						<label class="layui-form-label">项目:</label>
						<div class="layui-input-inline">
							<select name="projectId" >
								<option th:each="item: ${projectList}" th:value="${item.id}" th:text="${item.projectName}" ></option>
							</select>
						</div>

						<label class="layui-form-label">项目名称:</label>
						<div class="layui-input-inline">
							<input type="text" name="projectName" th:value="${projectName}"  placeholder="请输入项目名称" autocomplete="off" class="layui-input"/>
						</div>

						<label class="layui-form-label">需求名称:</label>
						<div class="layui-input-inline">
							<input type="text" name="demandName" th:value="${demandName}"  placeholder="请输入需求名称" autocomplete="off" class="layui-input"/>
						</div>
					</div>

					<div class="layui-form-item">
						<a id="add" class="layui-btn layui-btn-small">
							<i class="layui-icon">&#xe608;</i>新增
						</a>
						<button class="layui-btn layui-btn-small"><i class="layui-icon">&#xe615;</i>搜索</button>
					</div>
				</form>
			</blockquote>

			<fieldset class="layui-elem-field">
				<div class="layui-field-box layui-form">
					<table class="layui-table ">
						<colgroup>
							<col width="50"/>
							<col width="150"/>
							<col width="150"/>
							<col width="150"/>
							<col width="150"/>
							<col width="150"/>
							<col width="150"/>
							<col width="150"/>
							<col width="150"/>
							<col width="150"/>
							<col width="150"/>
							<col width="100"/>
							<col width="600"/>
						</colgroup>

						<thead>
							<tr>
								<th>编号</th>
								<th>项目名称</th>
								<th>需求名称</th>
								<th>需求描述</th>
								<th>提出时间</th>
								<th>提出人</th>
								<th>当前版本</th>
								<th>预期完成时间</th>
								<th>实际完成时间</th>
								<th>完成人</th>
								<th>需求状态</th>
								<th>完成</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="content">
							<tr th:each="item : ${pageInfo.list}">
								<td th:text="${item.id}"></td>
								<td th:text="${item.projectName}"></td>
								<td th:text="${item.demandName}"></td>
								<td th:text="${item.demandDescribe}"></td>
								<td th:text="${item.putTime}"></td>
								<td th:text="${item.putUserId}"></td>
								<td th:text="${item.version}"></td>
								<td th:text="${item.exceptEndTime}"></td>
								<td th:text="${item.actualEndTime}"></td>
								<td th:text="${item.completeUserId}"></td>
								<td th:text="${item.demandStatus}"></td>
								<td>
									<a th:data="${item.id}" th:if="${item.completeUserId==null}" class="layui-btn layui-btn-default layui-btn-mini">
										<i class="layui-icon">&#xe642;完成</i>
									</a>
								</td>
								<td>
									<a th:data="${item.id}" class="layui-btn layui-btn-normal layui-btn-mini">
										<i class="layui-icon">&#xe642;</i>
									</a>
									<a th:data="${item.id}" class="layui-btn layui-btn-danger layui-btn-mini">
										<i class="layui-icon">&#xe640;</i>
									</a>

								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</fieldset>
			<div >
				<div id="paged"></div>
			</div>
		</div>
	</body>
	<script th:inline="javascript">
		/*分页*/
        layui.use(['laypage', 'layer'], function() {
            var laypage = layui.laypage;
            var pages = [[${pageInfo.pages}]];
            laypage({
                cont: 'paged',
                first: 1,
				curr: [[${pageInfo.pageNum}]],
				last: pages,
                prev: '上一页',
                next: '下一页',
                skip: true,
				pages: pages, //总页数
                groups: 5,//连续显示分页数
                jump: function(obj, first){
                    //得到了当前页，用于向服务端请求对应数据
                    var curr = obj.curr;
                    $("#pageNo").val(curr);
                    if(!first) {
                        $("#searchForm").submit();
					}
                }
            });
        });
		//表单提交
        layui.use('form', function(){
            var form = layui.form();
			//监听提交
            form.on('submit(searchForm)', function(data){
                layer.msg(JSON.stringify(data.field));
                return false;
            });
        });



        layui.use('layer', function(){
            var layer = layui.layer;
            //删除
            $(".layui-btn-danger").bind("click",function() {
                var id = $(this).attr("data");
                layer.confirm('确定要删除吗?', {icon: 3, title:'提示'}, function(index){
                    location.href="../demand/delDemand.do?demandId="+id;
                    layer.close(index);
                });
            });

            //编辑
            $(".layui-btn-normal").bind("click",function() {
                var id = $(this).attr("data");
                location.href="../demand/editDemand.html?demandId="+id;
                layer.close(index);
            });

            //完成
            $(".layui-btn-default").bind("click",function() {
                var id = $(this).attr("data");
                location.href="../demand/completeDemand.html?demandId="+id;
                layer.close(index);
            });
            /**
			 * 发起需求
             */
            $("#add").bind("click",function() {
                var projectId = $("select[name='projectId']").val();
				location.href="addDemand.html?projectId="+projectId;
            });

        });


	</script>
</html>