<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>编辑用户</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/plugins/layui/css/layui.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/global.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{http://www.jq22.com/jquery/font-awesome.4.6.0.css}" />
    <script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
</head>

<body>
    <div>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>编辑用户</legend>
        </fieldset>


        <form name="user" class="layui-form" action="/user/saveUser.do" method="post">

            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="userName" th:value="${user.userName}" autocomplete="off" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" th:value="${user.password}" autocomplete="off" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" >立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>

<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form();

        //监听提交
        form.on('submit(modlePro)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>